<!DOCTYPE html>
<html lang="en-US">
<head>

<!-- Basic Page Head -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Mai Sari - <%= @project[:client] %></title>
<meta name="description" content="Innovating, collaborating, and creating for socially conscious change.">
<meta name="keywords" content="Mai Sai, Branding, Illustration, UI/UX, Graphic Design, Miami, Denver">

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->
<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

<!-- Css -->
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/magnific.popup.css">
<link rel="stylesheet" type="text/css" href="../assets/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../assets/css/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
<link rel="stylesheet" type="text/css" href="../assets/css/custom.css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<body>

<!-- Site Loading -->
<div class="site-loading">
	<img src="../assets/img/loading.gif" alt="Loading">
</div>

<% if @project[:client] == "Pornify" %>
  <div class="nsfw">
    <h2>WARNING: the following content contains nudity and is NSFW.</h2>
    <a href="../index.html" class="btn btn-radius">I'm at work</a> - <button class="btn btn-radius lets-see">I'm a ninja</button>
  </div>
<% end %>
<!-- Site Loading End -->

<!-- Site Back Top -->
<div class="site-backtop">
	<i class="fa fa-angle-up"></i>
</div>
<!-- Site Back Top End -->

<!-- Site Container -->
<div class="site-wrapper">
	<!-- Site Inner -->
	<div class="site-inner">
		<!-- Site Header -->
		<header class="site-header">
			<div class="wrapper">
				<div class="widget-flex">
					<!-- Header Logo -->
					<div class="header-logo">
						<a href="/index.html">
							<img src="../assets/img/MaiSari_TempLogo.png" alt="Mai Sari" />
						</a>
					</div>
					<!-- Header Logo End -->

					<!-- Header Nav -->
					<nav class="header-nav">
						<ul>
              <li><a href="/index.html">Works</a>
							<li><a href="/about.html">About</a></li>
							<li><a href="/contact.html">Contact</a></li>
						</ul>
					</nav>
					<!-- Header Nav End -->

					<!-- Header Toggle -->
					<div class="header-toggle">
						<i class="fa fa-bars"></i>
					</div>
					<!-- Header Toggle End -->
				</div>
			</div>
		</header>
		<!-- Site Header End -->

		<!-- Site Main -->
		<main class="site-main">
      <article>
				<!-- Page Header -->
				<header class="page-header">
					<div class="wrapper">
						<h1><%= @project[:client] %></h1>
					</div>
				</header>
				<!-- Page Header End -->

				<!-- Page Content -->
				<div class="wrapper">
					<div class="row">
						<div class="col-md-4">
							<!-- Project Info -->
							<div class="widget-projects-single-info">
								<h2>Description</h2>
								<p><%= @project[:description] %></p>
								<h2>Category</h2>
								<p>
                  <% @project[:categorys].each do |category| %>
                    <a><%= category %></a>
                    <% if category != @project[:categorys].last %>
                      <span>,</span>
                    <% end %>
                  <% end %>
								</p>
								<h2>Client</h2>
								<p><%= @project[:client] %></p>
                <% if @project[:url] != "na" %>
                <h2>Website</h2>
                <p><a href="<%= @project[:url] %>" target="_blank">Click To Open</a></p>
                <% end %>
							</div>
							<!-- Project Info End -->
						</div>
						<div class="col-md-8">
							<!-- Project Gallery -->
							<div class="widget-gallery o-full">
								<div class="row">
                  <% @images.each do |image| %>
                    <% if image.include?("png") || image.include?("jpg") %>
                      <div class="col-md-12">
                        <div class="gallery-item">
                          <a href="../assets/img/projects/<%= @project[:client].parameterize %>/<%= image %>" title="<%= @project[:client] %>" class="popup-gallery">
                            <img src="../assets/img/projects/<%= @project[:client].parameterize %>/<%= image %>" alt="<%= @project[:client] %>">
                          </a>
                        </div>
                      </div>
                    <% end %>
                  <% end %>

                  <% if @project[:video] != "na" %>
                    <div class="col-md-12">
                      <%= @project[:video] %>
                    </div>
                  <% end %>
								</div>
                <% if @project[:icons] == true %>
                  <% @icons.each do |icon| %>
                    <% if icon.include?("png") || icon.include?("jpg") %>
                      <div class="col-md-6">
                        <div class="gallery-item">
                          <a href="../assets/img/projects/<%= @project[:client].parameterize %>/icons/<%= icon %>" title="<%= @project[:client] %>" class="popup-gallery">
                            <img src="../assets/img/projects/<%= @project[:client].parameterize %>/icons/<%= icon %>" alt="<%= @project[:client] %>">
                          </a>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
							</div>
							<!-- Projects Gallery End -->
						</div>
					</div>

					<!-- Navigation -->
					<nav class="widget-nav-post">
						<ul>
							<li class="prev">
								<span>PREVIOUS</span>
								<a href="/project/<%= whatsNext(@project[:client])[:prev].parameterize %>.html"><%= whatsNext(@project[:client])[:prev] %></a>
							</li>
							<li class="all">
								<a href="#" style="border: none;"> </a>
							</li>
							<li class="next">
								<span>NEXT</span>
								<a href="/project/<%= whatsNext(@project[:client])[:next].parameterize %>.html"><%= whatsNext(@project[:client])[:next] %></a>
							</li>
						</ul>
					</nav>
					<!-- Navigation End -->
				</div>
				<!-- Page Content End -->
			</article>
		</main>
		<!-- Site Main End -->
	</div>
	<!-- Site Inner End -->

	<!-- Site Footer -->
	<footer class="site-footer">
		<div class="wrapper">
			<div class="widget-flex">
				<div class="footer-text flex-item">
					<p>© 2016 Mai Sari.</p>
				</div>
				<div class="footer-social flex-item">
					<nav class="widget-nav-social">
						<ul>
							<li><a href="https://twitter.com/sarismai" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="https://dribbble.com/sarismai" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="https://www.facebook.com/theplantain/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/mad_decent/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<!-- Site Footer End -->
</div>
<!-- Site Container End -->

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/imagesloaded.pkgd.min.js"></script>
<script src="../assets/js/isotope.pkgd.min.js"></script>
<script src="../assets/js/magnific.popup.min.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/jquery.fitvids.js"></script>
<script src="../assets/js/contact.form.js"></script>
<script src="../assets/js/SmoothScroll.js"></script>

<!-- Custom Scripts -->
<script src="../assets/js/custom.js"></script>
</body>
</html>
